[submodule "docx2pdf"]
	path = docx2pdf
	url = https://gist.github.com/b6be0948b3fd8b247b6161e4155fbd98.git
[submodule "arduino-core-renesas"]
	path = arduino-core-renesas
	url = https://github.com/arduino/ArduinoCore-renesas.git
[submodule "fsp"]
	path = fsp
	url = https://github.com/renesas/fsp
[submodule "arduino-r4-fsptimer-test"]
	path = arduino-r4-fsptimer-test
	url = git@github.com:K4zuki/arduino-r4-fsptimer-test.git
	branch = stable_triangle_pwm
